/*------------------------------ General style ------------------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 1.0em;
  max-width: 1024px;
  margin: auto;
}

img {
  max-width: 100%;
}

/*------------------------------ Cover style ------------------------------*/

#cover {
  width: 100%;
  text-align: center;
}

#cover h1 {
  font-size: 3.0em;
}

#cover .subtitle {
  font-style: italic;
  font-size: 1.8em;
}

#cover .info {
  font-style:italic;
  text-align:right;
}

#logo img {
  max-width: 500px;
  display: block;
  margin: auto;
}

/*------------------------------ Content style ------------------------------*/

.abstract {
  font-size: 1.2em;
  line-height: 130%;
  margin-bottom: 40px;
  margin-top: 40px;
}

figcaption {
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
  margin-top: 5px;

}

code {
  background: #f0f0f0;
  font-size: 1.2em;
}

/*------------------------------ References style ------------------------------*/
.references li {
  font-size: 1.2em;
  margin-bottom: 1.0em;
  list-style-type: upper-roman;
}
